<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L0C9WN2KWQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-L0C9WN2KWQ');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:1600px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:70%;vertical-align:middle">
              <h1>
                Peter Nickl
              </h1>
              <p>Since May 2021, I am a research assistant at the <a href="https://team-approx-bayes.github.io/">Approximate Bayesian Inference Team</a>, <a href="https://aip.riken.jp/">RIKEN Center for AI Project</a> in Tokyo, where I am advised by <a href="https://emtiyaz.github.io/">Emtiyaz Khan</a> and <a href="https://moellenh.github.io/">Thomas Moellenhoff</a>. I work on understanding the sensitivity of machine learning models to data perturbation and on deep learning, with a focus on probabilistic methods. I am also generally interested in reinforcement learning and computational neuroscience. In 2021, I was part of the winning team of the NeurIPS challenge on
              <a href="https://izmailovpavel.github.io/neurips_bdl_competition/">Approximate Inference in Bayesian Deep Learning</a> and helped organizing the ACML 2022
              <a href="https://continual-lifelong-learners.github.io/">Continual Lifelong Learning Workshop</a>.
              </p>
              <p>
                I have studied computational engineering, mechanical engineering and economics at <a href="https://www.tu-darmstadt.de/">TU Darmstadt</a>. I did my thesis research at the <a href="https://www.ias.informatik.tu-darmstadt.de/">Intelligent Autonomous Systems Lab</a>, advised by <a href="https://www.ias.informatik.tu-darmstadt.de/Team/HanyAbdulsamad">Hany Abdulsamad</a> and <a href="https://www.ias.informatik.tu-darmstadt.de/Member/JanPeters">Jan Peters</a>. I worked on approximate inference algorithms for an infinite mixture of local linear regression models with applications to robot control. At the same lab, I was part of the spin-off team <a href="https://telekinesis.ai/">Telekinesis AI</a> that acquired an EIC transition grant on &laquo;Visual Robot Programming&raquo;. 
              </p>
              <p>
                During my studies, I spent two years as a Mandarin language and exchange student at <a href="https://english.bit.edu.cn/">Beijing Institute of Technology</a> and <a href="https://en.tongji.edu.cn/p/#/">Tongji University</a>. I interned at <a href="https://www.boschrexroth.com/en/dc/">Bosch Rexroth</a> and <a href="https://www.continental.com/en/">Continental Automotive Systems</a> in Shanghai.
              </p>
              <p style="text-align:center">
                peter DOT nickl AT riken DOT jp<br>
                <a href="https://scholar.google.com/citations?hl=en&user=FTVom6gAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/PeterNickl_"> Twitter</a> &nbsp;/&nbsp;
                <a href="https://github.com/pnickl"> GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/peter-nickl-a7a403160/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/pnickl.png">
            </td>
          </tr>
        </table>

        <!-- Taken from https://github.com/dvtailor/dvtailor.github.io/blob/master/_layouts/default.html-->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <h2>News</h2>
              <div class="container sidebar col-md-3">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <!-- <h4 class="panel-title"></h4> -->
                </div>
                <div class="panel-body" id="oScroll" >
                <div id="scroll">
		            </p>
		            <strong>November 3, 2023</strong>: My proposal for a poster on <a href="https://arxiv.org/abs/2310.19273">The Memory-Perturbation Equation</a> at <a href="https://groups.oist.jp/mlss">The Machine Learning Summer School in Okinawa 2024</a> got accepted!
		            <p>
                </p>
            		<p>
            		<strong>October 6, 2023</strong>: I join a seminar with <a href="https://yuandong-tian.com/">Yuandong Tian</a> from Meta AI research on LLMs, organized by the <a href="https://qibinzhao.github.io/">Tensor Learning Team</a>.
            		</p>
                <strong>October 3, 2023</strong>: I remotely join a seminar with talks of the <a href="https://www.sg.tum.de/nd/startseite/">Neuromuscular Diagnostics Lab</a> from TU Munich, held at <a href="https://bicr.atr.jp/en/">ATR Neuroscience Labs</a>.
                <p>
                <p>
                <strong>September 21, 2023</strong>: We got our paper on <a href="https://arxiv.org/abs/2310.19273">The Memory-Perturbation Equation</a> accepted at <a href="https://nips.cc/Conferences/2023">NeurIPS 2023</a> . See you in New Orleans in December!
                </p>
                <p>
                <strong>September 14, 2023</strong>: I am giving a talk on <a href="https://arxiv.org/abs/2310.19273">The Memory-Perturbation Equation</a> at the <a href="https://sites.google.com/view/jst-crest-yoshida-khan/home">JST CREST Yoshida-Khan Workshop</a> at Komaba Campus of UTokyo.
                </p>
                <p>
                <strong>September 4-9, 2023</strong>: Our team hosts <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/162850">talks</a> by <a href="https://www.krikamol.org/">Krikamol Muandet</a> and <a href="https://martin-mundt.com/">Martin Mundt</a>, as well as a <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/162852">talk</a> by <a href="https://users.ics.aalto.fi/sami/">Samuel Kaski</a> at RIKEN AIP.
                </p>
                <p>
                <strong>August 28, 2023</strong>: I lead a paper discussion on <a href="https://arxiv.org/abs/2308.03296">Studying Large Language Model Generalization with Influence Functions</a> in our <a href="https://team-approx-bayes.github.io/reading/">reading group</a>.
                </p>
                <p>
                <strong>August 18, 2023</strong>: <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/161643/">So Takao</a>, <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/159415">Molei Tao</a> and <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/160000">Rajesh Ranganath</a> are visiting our group at RIKEN AIP and give talks.
                </p>
                <p>
                <strong>August 1, 2023</strong>: Accepted paper at <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=34">IEEE TPAMI</a> on <a href="https://arxiv.org/abs/2211.01120">Variational Hierarchical Mixtures for Probabilistic Learning of Inverse Dynamics</a>!
                </p>
                <p>
                <strong>July 22-29, 2023</strong>: I attend <a href="http://approximateinference.org/">AABI</a> and <a href="https://icml.cc/Conferences/2023">ICML</a> in Honolulu, Hawaii. At the ICML Workshop <a href="https://dp4ml.github.io/">Duality Principles for Modern Machine Learning</a>, I present a poster on <a href="https://arxiv.org/abs/2310.19273">The Memory-Perturbation Equation</a> and serve as a logistics volunteer.
                </p>
                <p>
                <strong>July 10, 2023</strong>: I give a talk on <a href="https://arxiv.org/abs/2310.19273">The Memory-Perturbation Equation</a> at the Lau-Khan Workshop jointly held with the <a href="https://sites.google.com/view/hakwan-lau-lab">Hakwan Lau Lab on Consciousness and Metacognition</a> at RIKEN AIP.
                </p>
                <p>
                <strong>July 10, 2023</strong>: I attend a tutorial on probabilistic circuits by our visitor <a href="http://nolovedeeplearning.com/">Antonio Vergari</a> at RIKEN AIP.
                </p>
                <p>
                <strong>June 27, 2023</strong>: I give a talk on <a href="https://arxiv.org/abs/2310.19273">The Memory-Perturbation Equation</a> at <a href="https://bayesduality.github.io/workshop/">The First Bayes-Duality Workshop</a> in Atami, Japan.
                </p>
                <p>
                <strong>June 5, 2023</strong>: I attend a talk by our visitor <a href="https://neurocenter-unige.ch/research-groups/alexandre-pouget/">Alexandre Pouget</a> on <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/157461">The Bayesian Brain</a>  at RIKEN AIP.
                </p>
                <p>
                <strong>May 8, 2023</strong>: <a href="https://alab.psych.wisc.edu/">Joe Austerweil</a> gives a talk on memory from the perspective of cognitive science at our <a href="https://team-approx-bayes.github.io/reading/">reading group</a>.
                </p>
                <p>
            		<strong>March 6, 2023</strong>: My collaborator <a href="https://dvtailor.github.io/">Dharmesh Tailor</a> visits RIKEN AIP for one month!
            		</p>
            		<p>
                <strong>December 12, 2022</strong>: I help organizing the <a href="https://continual-lifelong-learners.github.io/">Continual Lifelong Learning Workshop</a> at <a href="https://www.acml-conf.org/2022/">ACML 2022</a>.
                </p>
                <p>
                <strong>November 9, 2022</strong>: Our team hosts <a href="https://www.cs.ox.ac.uk/people/yarin.gal/website/">Yarin Gal</a> for a seminar on <a href="https://aip.riken.jp/events/event_146213/">Uncertainty in Deep Learning: Lessons Learned from Medical Imaging</a>. 
                </p>
                <p>
                <strong>November 1, 2022</strong>: Our team holds <a href="https://team-approx-bayes.github.io/minisymposium/">The ABI Team Seminar</a> with several visitors from Germany, France and Korea.
                </p>
                <p>
                <strong>August 1, 2022</strong>: I lead a paper discussion on <a href="https://arxiv.org/abs/1912.02877">Training Agents using Upside-Down Reinforcement Learning</a> in our <a href="https://team-approx-bayes.github.io/reading/">reading group</a>.
                </p>
                <p>
                <strong>June 4-7, 2022</strong>: I attend <a href="http://www.cmstatistics.org/EcoSta2022/">EcoSta 2022</a> in Kyoto together with our team. We also visit <a href="https://bicr.atr.jp/en/">ATR Neuroscience Labs</a> to meet <a href="https://bicr.atr.jp/kawato/en">Mitsuo Kawato</a>, <a href="https://bicr.atr.jp/~kawanabe/">Motoaki Kawanabe</a>, <a href="https://bicr.atr.jp/ERATO-AC/">Aurelio Cortese</a> and others!
                </p>
                <p>
                <strong>May 8, 2022</strong>: I visit our former intern Tojoarisoa Rakotoaritina at the <a href="https://groups.oist.jp/ncu">Neural Computation Unit</a>, <a href="https://www.oist.jp/">Okinawa Institute of Science and Technology</a>!  
                </p>
                <p>
                <strong>March 30, 2022</strong>: <a href="https://pierrealquier.github.io/">Pierre</a> showed the team around the Hongo campus of University of Tokyo, where we met with <a href="https://ibis.t.u-tokyo.ac.jp/suzuki/">Taiji Suzuki</a> and <a href="https://sites.google.com/site/plpoirion86/">Pierre-Louis Poirion</a>. We also saw plenty of cherry blossoms!
                </p>
                <p>
                <strong>March 01, 2022</strong>: I attend the <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/133661/">ATR-AIP Joint Seminar on Neuroscience-Inspired Artificial Intelligence</a>, with talks by <a href="https://bicr.atr.jp/ERATO-AC/">Aurelio Cortese</a> and <a href="https://emtiyaz.github.io/">Emtiyaz Khan</a>.
                </p>
                <p>
                <strong>January 10, 2022</strong>: I attend a talk by <a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/147468">Michael Zhang</a> at RIKEN AIP.
                </p>
                <p>
                <strong>December 14, 2021</strong>: We won both tracks of the NeurIPS competition on  
                <a href="https://izmailovpavel.github.io/neurips_bdl_competition/">Approximate Inferece in Bayesian Deep Learning</a>!
                <a href="https://moellenh.github.io/">Thomas</a> gives a talk about our winning solution at the NeurIPS 2021 <a href="https://nips.cc/virtual/2021/competition/22444">Competition Track</a> and <a href="http://bayesiandeeplearning.org/">Bayesian Deep Learning Workshop</a>.
                </p>
                <p>
                <strong>November 8, 2021</strong>: I have relocated to Tokyo, Japan!
                </p>
                <p>
                <strong>August 9, 2021</strong>: I lead a paper discussion on <a href="https://arxiv.org/abs/2107.12544">Human-Level Reinforcement Learning through Theory-Based Modeling, Exploration, and Planning</a> in our <a href="https://team-approx-bayes.github.io/reading/">reading group</a>.
                </p>
                <p>
                <strong>June 1, 2021</strong>: I give an <a href="https://drive.google.com/file/d/1n2Q7nZn2ZCn0UdRsR24P0mo6Z8DUuMus/view">online talk</a> on <a href="https://arxiv.org/abs/2011.05217">A Variational Infinite Mixture for Probabilistic Inverse Dynamics Learning</a> at <a href="https://ieeexplore.ieee.org/xpl/conhome/9560720/proceeding">ICRA 2021</a>.
                </p>
                <p>
                <strong>May 1, 2021</strong>: I am joining the <a href="https://team-approx-bayes.github.io/">Approximate Bayesian Inference Team</a> at <a href="https://www.riken.jp/en/research/labs/aip/">RIKEN AIP</a> in Tokyo as a pre-doctoral research assistant!
                </p>
                <p>
                <strong>February 29, 2021</strong>: Accepted paper on <a href="https://arxiv.org/abs/2011.05217">A Variational Infinite Mixture for Probabilistic Inverse Dynamics Learning</a> at <a href="https://ieeexplore.ieee.org/xpl/conhome/9560720/proceeding">ICRA 2021</a>!
                </p>                
              </div>
            </div>
          </div>

          </td>
          </tr>
        </tbody>
       </table>
       <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <!-- <td style="padding:2.5%;width:100%;vertical-align:middle"> -->
            <td style="padding:20px;width:100%;vertical-align:middle">
              <h2 style="text-align:center;">Publications</h2>
            </td>
          </tr>
        </table>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:20px;width:35%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:20px;width:65%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.venue2 %}<em>{{post.venue2}}</em><br>{% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }} <br>
              <br>
              <details>
              <summary>
                Abstract
                <!-- <span class="icon">👇</span> -->
              </summary>
              <p>
                {{ post.abstract }}
              </p>
              </details>
<!--               <button type="button" class="collapsible">Abstract</button>
              <div class="content">
              <p>{{ post.abstract }}</p>
              </div> -->
              
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <h2 style="text-align:center;">Theses</h2>
            </td>
          </tr>
        </table>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'thesis' %}
          <tr>
            <td style="padding:20px;width:35%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:20px;width:65%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.author}}
              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }} <br>
              <br>
              <details>
              <summary>
                Abstract
                <!-- <span class="icon">👇</span> -->
              </summary>
              <p>
                {{ post.abstract }}
              </p>
              </details>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Adapted from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

